*{margin:0;padding:0}
a{text-decoration:none;}
li{list-style: none}
.u{
    display: flex;
   justify-content: space-between;
   vertical-align: center;
  
}
.main{
    width:1200px;
    margin:0 auto;
}
.img-f{width:124px;height:124px}
.bodu-1{
    display:flex;
    justify-content: space-between
}