*{
    margin:0;
    padding:0;  
}
body{background-color: #f3f3f3}
.content{border-bottom: 3px solid #f00; 
     background-color: #fff;
     position: fixed;
     top:0px;
     width: 100%;
    }
.lg{
    background:#f5f5f5;
    color:#3c3c3c;
    padding-left:150px;
    line-height: 30px;
}
.lg>a{color:#3c3c3c;margin-right:20px;}
.m-t{margin-top:85px ;
        width:100%;
    }
.m-t a img{width:100%}
a{text-decoration:none;}
li{list-style: none}
div.top{
    width:1200px;
    margin:9px auto;
   display: flex;
   justify-content: space-between;
   border: none;  
}
.u{
    display: flex;
   justify-content: space-between;
   vertical-align: center;
   
  
}
.t-r{ line-height: 40px;}
.u>li{padding:6px}
.u>li>a{color:#6c6c6c;font-size: 18px}
.nav{
    width:1200px;
   margin:0 auto;
  
}
.nav-h{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c1c1c1;
    margin:30px 0;
}
.sp{font-size: 20px;padding-bottom: 20px}
.nav-h a {
    color:#868686;
    font-size: 20px;
}
.er{position:fixed;
    left:150px;
    top:365px;
   }
.floor{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;

}
.nav-l{background-color:#fff;padding:14px;margin-top:18px}
.nav-2{
    padding:0 14px;
    text-align: center;
    width:557px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
.nav-21{
    margin:5px 10px;
}
.img-f{width:124px;height:124px}
.nav-2 p{
    color:#333;
    font-size: 12px;
}
s.s{
    color:#cbcbcb;
}
.u2{
    display: flex;
   justify-content: space-between;
   vertical-align: center;
   flex-wrap: wrap;
}
.f-img{
    width:162px;
    height:162px;
}
.foot-b{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:30px;
    height:320px;
    background: #fff;
}
.foot-l1{
    display: inline-block;
    margin-right:20px;
    text-align: center;
}
.foot-l1>p{
    line-height: 30px;
}

.foot-l{
    padding:20px;
}
.foot-r{
    display: inline-block;
    width:500px;
    border-left: 1px solid #4d4d4d;
    padding-left: 50px;
    
}
.foot-r>p{
    font-size: 18px;
    color:#4d4d4d;
    line-height: 40px;
}
.foot-r .tx{
   padding-left:200px;
}
.foot-b{
   margin:20px  30px;
}
.ft{
    text-align: center;
    
    background:#3f3e3e;
    padding:30px;
}
.ft>p{
    line-height: 30px;
    color:#b1b1b1;
}
.foot-ft{
    width:100%;
    text-align: center;
    padding:10px;
}
.ft-img{
    padding-bottom: 8px;

}