*{margin: 0;padding:0;}
body{background:#f1f1f1;}
.content{border-bottom: 3px solid #f00; 
    background-color: #fff;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 200;
   }
.m-t{
   width:100%;
   margin-top:135px;
   position: relative;
   z-index: 100;
}
.m-t a img{width:100%}
a{text-decoration:none;}
li{list-style: none}
div.top{
   width:1200px;
   margin:9px auto;
  display: flex;
  justify-content: space-between;
  border: none;  
}
.u{
   display: flex;
  justify-content: space-between;
  vertical-align: center; 
}
.t-r{ line-height: 40px;}
.u>li{padding:6px}
.u>li>a{color:#6c6c6c;font-size: 18px}
.nav-top{
   width:100%;
   height:50px;
   position:fixed;
   top:85px;
   background-color: #d8374d;
   z-index: 200;
}
.ul-t{
   width:1200px;
   display: flex;
   margin:0 auto;
}
.ul-t>li{
   line-height: 48px;
   width:115px;
   color:#fff;
   font-size:18px;
}
.ul-t>li>a{
   font-size:18px;
   color:#fff;
}

.pdd-act{
    width:1200px;
    margin:0 auto;
   
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    border: 1px solid #f6f6f6;
    padding:10px;
}
.pdd-nav{
   margin-top:125px;
    background: #fff;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    border: 1px solid #f6f6f6;
    padding:10px;
}
.pdd-r{
   width:598px;
   margin-left:20px;
}
.pdd-title{
    font-size: 25px;
    color:#111;
    display:inline-block;
    width:200px;
    line-height: 45px;
    margin-top:15px;
    border:1px solid #f6f6f6
}
.pdd-desc{
    color:#686868;
    margin-top:20px;
    line-height:25px;
}

.desc{
    width:276px;
    height:400px;
    background:#fff;
    margin:16px 0;
    position: relative;
    padding-top:30px;
    box-sizing: border-box;
   
}
.desc-img{
    width:220px;
    height:220px;
    text-align: center;
    margin:20px auto;
    position:absolute;
    top:10px;
}

.desc-img:hover{
    opacity: 0;
}

.desc>p{
    font-size:16px;
    color:#686868;
   margin:20px 8px ;
}

.desc .s1{color:#111;font-size:25px;}
.desc .s2{padding-right:39px;color:#cbcbcb}
.desc .s3{color:#9c9c9c}
.desc-ul{
    list-style: none;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    z-index: 90;
}
.desc-ul>li{
    text-align: center;
}