*{margin:0;  padding:0;}
body{
    background:#f1f1f1;
}
body{background-color: #f3f3f3}
.content{border-bottom: 3px solid #f00; 
     background-color: #fff;
     position: fixed;
     top:0px;
     width: 100%;
     z-index: 200;
    }
    div.top{
        width:1200px;
        margin:9px auto;
       display: flex;
       justify-content: space-between;
       border: none;  
    }
    .u{
        display: flex;
       justify-content: space-between;
       vertical-align: center;  
    }
.t-r{ line-height: 40px;}
 .u>li{padding:6px}
.u>li>a{color:#6c6c6c;font-size: 18px}
  /*top*/
a{text-decoration: none}
.body{
    width:1200px;
    margin:0 auto;
    background:#fff;
}
.nav{padding-bottom: 60px;margin-top:86px;}
.p{
    display: block;
    width:162px;
    height:56px;
    background:#f04055;
    font-size: 25px;
    text-align: center;
    line-height: 60px;
    color:#fff;  
}
ul{list-style: none}
ul.ll>li{padding:50px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin:0 50px;
    
}
.a1{
    color:#363636;
    margin:32px 0px 10px 0px;
}
.p1{
    color:#6c6c6c;
    font-size: 20px;
}
.semmor{
    color:#6c6c6c;
    float: right;
    font-size: 20px;
}
.d1{
    width:709px;
}
ul.q>li{
 
 margin:0 30px;
 padding-bottom: 50px;
 border-bottom:1px solid #6c6c6c;
}
ul.q>li a:hover{
    color:#f00;
    text-decoration: underline;
}

ul.q>li>p{
    line-height: 76px;
    font-size: 20px;
    color:#363636;
    
}
ul.q>li>span{
    color:#6c6c6c
}
ul.q>li>p>a{
    color:#363636;
}
.floor{
    width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;

}
.nav-l{background-color:#fff;padding:14px;margin-top:18px}
.nav-2{
    padding:0 14px;
    text-align: center;
    width:557px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}
.nav-21{
    margin:5px 10px;
}
.img-f{width:124px;height:124px}
.nav-2 p{
    color:#333;
    font-size: 12px;
}
s.s{
    color:#cbcbcb;
}
.u2{
    display: flex;
   justify-content: space-between;
   vertical-align: center;
   flex-wrap: wrap;
}
.f-img{
    width:162px;
    height:162px;
}
.foot-b{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top:30px;
    height:320px;
    background: #fff;
}
.foot-l1{
    display: inline-block;
    margin-right:20px;
    text-align: center;
}
.foot-l1>p{
    line-height: 30px;
}

.foot-l{
    padding:20px;
}
.foot-r{
    display: inline-block;
    width:500px;
    border-left: 1px solid #4d4d4d;
    padding-left: 50px;
    
}
.foot-r>p{
    font-size: 18px;
    color:#4d4d4d;
    line-height: 40px;
}
.foot-r .tx{
   padding-left:200px;
}
.foot-b{
   margin:20px  30px;
}
.ft{
    text-align: center;
    
    background:#3f3e3e;
    padding:30px;
}
.ft>p{
    line-height: 30px;
    color:#b1b1b1;
}
.foot-ft{
    width:100%;
    text-align: center;
    padding:10px;
}
.ft-img{
    padding-bottom: 8px;

}